@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.slick-prev, .slick-next{
  top: 105% !important;
}

.slick-next{
  right: 10px !important;
}
.slick-prev{
  left: 10px !important;
}


/* .slick-track{
  margin-left: -20px;
  display: flex;
  column-gap: 25px;
} */

/* .slick-slider .slick-prev {
  left: 50px;
  z-index: 10;
  position: absolute;
} */
.slick-next:before{
  content: none;
}
.slick-prev:before{
  content: none;
}
.slick-active {
padding-right: 25px !important;
}

/* .slick-active:last-of-type{
  padding-left: 12px !important;
} */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
