@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.heritage_carousel .slick-prev, .heritage_carousel .slick-next {
  top: 100% !important;
}

.heritage_carousel .slick-next {
  right: 10px !important;
}

.heritage_carousel .slick-prev {
  left: 10px !important;
}

.collection_carousel .slick-next {
  /* right: -3px !important; */
  right: -29px !important;
}

.collection_carousel .slick-prev {
  left: -40px !important;
}

.slick-arrow {
  margin-top: 16px;
}

.slick-track {
  display: flex !important;
  gap: 1rem;
}

.slick-prev::before, .slick-next::before {
  content: ' ';
  display: none;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: rgb(122, 119, 119);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* price slider */
.horizontal-slider {
  width: 33%;
  height: 50px;
}

.horizontal-slider .example-track {
  top: 15px;
  height: 5px;
}

.example-track.example-track-0 {
  background: #41464B;
}

.example-track.example-track-1 {
  background: #842029;
}

.example-track.example-track-2 {
  background: #6c757e;
}

.horizontal-slider .example-thumb {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px;
  border-radius: 50%;
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid gray;
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}