@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.heritage_carousel .slick-prev, .heritage_carousel .slick-next {
  top: 100% !important;
}

.heritage_carousel .slick-next {
  right: 10px !important;
}

.heritage_carousel .slick-prev {
  left: 10px !important;
}

.collection_carousel .slick-next {
  /* right: -3px !important; */
  right: -28px !important;
}

.collection_carousel .slick-prev {
  left: -40px !important;
}

.slick-track {
  /* margin-left: -20px; */
  display: flex !important;
  gap: 1rem !important;
}

/* .slick-slider .slick-prev {
  left: 50px;
  z-index: 10;
  position: absolute;
} */


.slick-arrow {
  z-index: 10;
}

.slick-next:before {
  content: none;
}
.slick-arrow {
  margin-top: 16px;

}

.slick-track {
  display: flex !important;
  gap: 1rem;
}

.slick-prev::before, .slick-next::before {
  content: ' ';
  display: none;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: rgb(122, 119, 119);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


  .slick-arrow {
    margin-top: 16px;
  }


  .slick-prev::before, .slick-next::before {
    content: ' ';
    display: none;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: rgb(122, 119, 119);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* price slider */
  .horizontal-slider {
    width: 33%;
    height: 50px;
  }

  .horizontal-slider .example-track {
    top: 15px;
    height: 5px;
  }

  .example-track.example-track-0 {
    background: #41464B;
  }

  .example-track.example-track-1 {
    background: #842029;
  }

  .example-track.example-track-2 {
    background: #6c757e;
  }

  .horizontal-slider .example-thumb {
    top: 1px;
    width: 50px;
    height: 48px;
    line-height: 38px;
    border-radius: 50%;
    font-size: 0.9em;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 5px solid gray;
    box-sizing: border-box;
  }


  /* Styles for the slider component */
  .slider {
    height: 10px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
  }

  /* Styles for the slider thumb */
  .slider .thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #007bff;
    cursor: grab;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }


.slick-active {
  padding-right: 0 !important;
}


  /* Styles for the slider active state */
  .slider .thumb.active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }


  .product_slider .slick-dots li {
    width: 56px;
    height: 0;
  }

  .product_slider ul {
    display: flex !important;
    justify-content: center;
    width: 411px;
    margin-left: 45px;
    height: 92px;
    padding: 10px 0px;
    background-color: white;
    border-radius: 10px;
    z-index: 0;
  }

  .slick-active {
    padding-right: 0 !important;
  }


/* Default styles for buttons */
.productcarousel div {
  margin: auto;
}

/* Styles for buttons at large screens */
@media screen and (max-width: 768px) {
  .product_slider ul {
      display: flex !important;
      justify-content: center;
      width: 360px;
      margin-left: 52px;
      height: 91px;
      padding: 10px 0px;
      background-color: white;
      border-radius: 10px;
      z-index: 0;
    }
}

/* Styles for buttons at medium screens */
@media screen and (max-width: 768px) {
  .productcarousel {
    top: 0;
    left: 0;
  }
}

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }

  }

